<form class="form-signin" method="POST">
  <h2 class="form-signin-heading">welcome admin!</h2>
  <h2 class="form-signin-heading">add a new user:</h2>
  <input type="text" class="input-block-level" name="username" placeholder="username">
  <input type="password" class="input-block-level" name="password" placeholder="password">
  <button class="btn btn-large btn-primary" type="submit">/save</button>
</form>