<h1>/list/add</h1>
<form class="form-horizontal" method="POST">
  <div class="control-group">
    <label class="control-label" for="inputPassword">.quantity</label>
    <div class="controls">
      <select class="span1" name="quantity">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputName">.name</label>
    <div class="controls">
      <input class="span4" type="text" name="name" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputNotes">.notes</label>
    <div class="controls">
      <input class="span4" type="text" name="notes">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">.save</button>
    </div>
  </div>
</form>
