<h1>/new_poll</h1>
<form class="form-horizontal" method="POST">
  <div class="control-group">
    <label class="control-label" for="inputNotes">.question</label>
    <div class="controls">
      <textarea class="span4" rows="3" name="question"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">.save</button>
    </div>
  </div>
</form>