<h1>/forum/new</h1>
<form class="form-horizontal" method="POST">
  <div class="control-group">
    <label class="control-label" for="inputTopic">.topic</label>
    <div class="controls">
      <input class="span4" type="text" name="topic" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputNotes">.text</label>
    <div class="controls">
      <textarea class="span4" rows="8" name="message"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">.save</button>
    </div>
  </div>
</form>