<h1>/mail/new</h1>
<form class="form-horizontal" method="POST">
  <div class="control-group">
    <label class="control-label" for="inputTopic">.to</label>
    <div class="controls">
      <input class="span4" type="text" name="recipient" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputTopic">.subject</label>
    <div class="controls">
      <input class="span4" type="text" name="subject" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputNotes">.text</label>
    <div class="controls">
      <textarea class="span4" rows="8" name="text"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">.send</button>
    </div>
  </div>
</form>